@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Inter';
}

body {
    background-color: var(--background-color);
}

.aluno-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--text-color);
    border-radius: 8px;
    margin-top: 200px;
}

.aluno-title {
    font-size: 1.8rem;
    color: var(--background-color);
    margin-bottom: 20px;
    font-family: sans-serif;
}

.aluno-btn-new {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 10px 15px;
    font-size: 1.1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    float: right;
}

.aluno-btn-new:hover {
    background-color: #01fb9f9d;
}

.aluno-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.aluno-filter input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #002a30;
    border-radius: 4px;
    width: 250px;
    background-color: #ffffff;
    color: var(--text-color);
}

.aluno-filter input:focus {
    outline: none;
    border-color: #01fb9f9d;
    box-shadow: 0 0 4px rgba(59, 157, 86, 0.3);
}

.aluno-filter span {
    font-size: 18px;
    font-weight: 500;
    color: var(--background-color);
}

.aluno-filter button {
    background-color: #ffffff;
    color: var(--background-color);
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.aluno-list {
    margin-top: 20px;
}

.aluno-table {
    width: 100%;
}

.aluno-table th,
.aluno-table td {
    padding: 8px;
    border: 1px solid var(--background-color);
    text-align: left;
    color: var(--background-color);
}

.aluno-table th {
    background-color: var(--background-color);
    color: var(--text-color);
}

.aluno-btn-edit,
.aluno-btn-delete {
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.aluno-btn-edit {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
}

.aluno-btn-edit:hover {
    background-color: #01fb9f9d;
}

.aluno-btn-delete {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
}

.aluno-btn-delete:hover {
    background-color: #d32f2f;
}

.aluno-pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination-info {
    margin-top: 20px;
    text-align: center;
}

.aluno-pagination p,
label {
    font-size: 20px;
    color: var(--background-color);
    font-weight: 500;
}

.pagination-info span {
    font-size: 20px;
    color: var(--background-color);
    font-weight: 500;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination-buttons button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 8px 15px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-buttons button:hover {
    background-color: #01fb9f9d;
}

.pagination-numbers button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid #002a30;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination-numbers button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Mensagem de erro */
.error-message {
    color: #d32f2f;
    background-color: #fdecea;
    border: 1px solid #d32f2f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* Mensagem de sucesso */
.success-message {
    color: #2e7d32;
    background-color: #e8f5e9;
    border: 1px solid #2e7d32;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* Mensagem de carregamento */
.loading-message {
    color: #1976d2;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}