@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Inter';
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.categoriaform-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px; 
}

.form-container-categoriaform {
    width: 100%;  
    max-width: 600px; 
    padding: 30px;
    background-color: var(--div-form-login);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(228, 222, 222, 0.1);
}

.form-title-categoriaform {
    font-size: 2rem; 
    color: var(--background-color);
    text-align: center;
}

.form-group-categoriaform {
    margin-bottom: 15px;
}

.form-group-categoriaform label {
    font-size: 1.1rem;
    color: var(--background-color);
    display: block;
    margin-bottom: 8px;
}

.form-group-categoriaform input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group-categoriaform input:focus {
    outline: none;
    border-color: #01fb9f9d;
    box-shadow: 0 0 4px rgba(59, 157, 86, 0.3);
}

.form-button-categoriaform {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 12px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.form-button-categoriaform:hover {
    background-color: #01fb9f9d;
}

.form-button-categoriaform:active {
    background-color: #01fb9f9d;
}

.form-button-cancel-categoriaform {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 12px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.form-button-cancel-categoriaform:hover {
    background-color: #ea24249d;
}

.form-button-cancel-categoriaform:active {
    background-color: #ea24249d;
}

/* Mensagem de erro */
.error-message {
    color: #d32f2f;
    background-color: #fdecea;
    border: 1px solid #d32f2f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* Mensagem de sucesso */
.success-message {
    color: #2e7d32;
    background-color: #e8f5e9;
    border: 1px solid #2e7d32;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* Mensagem de carregamento */
.loading-message {
    color: #1976d2;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}